.page {
  --page-height: calc(100vh - 56px);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 12px 24px;
  height: var(--page-height);
  background-color: var(--page-bg-primary-color);
}

.comp-page {
  flex: 1;
  background-color: var(--white-color);
  padding: 12px 24px;
  overflow: auto;
}
