@import '../commom.less';

.common-field {
  .@{layout-prefix}-form-item {
    margin-bottom: 0 !important;
  }

  .@{layout-prefix}-form-item-label {
    padding: 0 4px 0 0;
  }

  .@{layout-prefix}-picker {
    width: 100%;
  }
}
