@layout-prefix: ant;

// 重置antd样式（线上生效）
.@{layout-prefix}-pro-layout-content {
  padding-inline: 0 !important;
  padding-block: 0 !important;
}

.@{layout-prefix}-pro-page-container-children-container {
  padding-block: 0;
}
