@import '~@/_styles/ant.less';

@option-btn-radius: 8px;

.@{layout-prefix}-btn-sm {
  border-radius: 6px !important;
}

.option-button,
.option-primary-button {
  box-sizing: border-box;
  padding: 0 12px;
  border-radius: @option-btn-radius;
  transition: color 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
}

.option-button {
  --option-btn-color: var(--theme-primary-color);
  --option-btn-bg-color: var(--white-color);
  --option-btn-bd-color: var(--theme-primary-color);
  --option-btn-color-dark: var(--theme-primary-color);
  --option-btn-bg-color-dark: var(--black-color);
  --option-btn-bd-color-dark: var(--theme-primary-color);

  color: var(--option-btn-color);
  border: 1px solid var(--option-btn-bd-color);
  background-color: var(--option-btn-bg-color);

  &:not(:disabled):not(.@{layout-prefix}-btn-disabled):hover,
  &:not(:disabled):not(.@{layout-prefix}-btn-disabled):focus {
    color: var(--white-color) !important;
    border-color: var(--option-btn-color) !important;
    background-color: var(--option-btn-color) !important;
  }
}

.theme-dark {
  .option-button {
    color: var(--option-btn-color-dark);
    border: 1px solid var(--option-btn-bd-color-dark);
    background-color: var(--option-btn-bg-color-dark);

    &:not(:disabled):not(.@{layout-prefix}-btn-disabled):hover,
    &:not(:disabled):not(.@{layout-prefix}-btn-disabled):focus {
      color: var(--white-color) !important;
      border-color: var(--option-btn-bd-color-dark) !important;
      background-color: var(--option-btn-bd-color-dark) !important;
    }
  }
}
