@import '../../common.less';

.common-field {
  .@{layout-prefix}-form-item {
    margin-bottom: 0 !important;
  }

  .@{layout-prefix}-form-item-label {
    padding: 0 4px 0 0;
  }

  .@{layout-prefix}-picker {
    width: 100%;
  }
}

.upload-node {
  min-height: 32px;
  display: flex;
  cursor: pointer;
  color: var(--black-color-45);

  & :hover {
    color: var(--black-color-85);
  }
}

.upload-node-length {
  padding-bottom: 10px;
}
